body {
    font-family: Helvetica, sans-serif;
    margin: 8px;
}




/*header*/

.header {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
}

h1 {
    color: khaki;
    font-size: 100px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}



/*brushes*/

.brushes h2 {
    background-color: mediumspringgreen;
}

.price {
    color: blue;
    font-weight: bold;
}



/*frames*/

.frames h2 {
    background-color: lightcoral;
}


/*paint*/

.paint h2 {
    background-color: skyblue;
}